@model Employee
@using OrderFoodLast.Areas.Admin.Models
@{
    IEnumerable<EmployeeInfo> ems = ViewBag.Emp as IEnumerable<EmployeeInfo>;
    string role = ViewBag.Role;
    string createdBy = "";
    string modifiedBy = "";
    string name = Model.FirstName + " " + Model.LastName;
    string manager = "";
    string status = (Model.Status == 1) ? "Enable" : "Disable";
    if (Model.ManagerId != null)
    {
        manager = ems.Where(p => p.ID == Model.ManagerId.Value).SingleOrDefault().Name;
    }
    if (Model.CreatedBy != null)
    {
        createdBy = ems.Where(p => p.ID == Model.CreatedBy.Value).SingleOrDefault().Name;
    }
    if (Model.ModifiedBy != null)
    {
        modifiedBy = ems.Where(p => p.ID == Model.ModifiedBy.Value).SingleOrDefault().Name;
    }
}
<div style="text-align:right">
    <button class="btn btn-success" id="btnBack"><i class="fas fa-chevron-left"></i>&nbsp Trở về</button>
</div>
<br />
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h2 class="display-4">Thông tin nhân viên: <b class="text-primary">@name</b></h2>
    </div>
</div>

<div class="container">
    <div class="row container mt-4">
        <div class="col-6">
            <form>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label"><b>Tên đăng nhập: </b></label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="@Model.UserName">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><b>Họ: </b></label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" value="@Model.FirstName">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><b>Tên: </b></label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" value="@Model.LastName">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><b>Địa chỉ: </b></label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" value="@Model.Address">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><b>Email: </b></label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" value="@Model.Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><b>Điện thoại: </b></label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" value="@Model.Phone">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><b>Ngày sinh</b></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" readonly="" value="@Model.BirthDate">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-6">
            <form>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label"><b>Vai trò: </b></label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="@role">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><b>Người quản lý: </b></label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" value="@manager">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><b>Ngày tạo: </b></label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" value="@Model.CreatedDate">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><b>Người tạo: </b></label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" value="@createdBy">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><b>Ngày sửa lần cuối: </b></label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" value="@Model.ModifiedDate">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><b>Người sửa lần cuối: </b></label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" value="@modifiedBy">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><b>Trạng thái: </b></label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext text-primary" value="@status">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>

    $("#btnBack").click(function () {
        window.location = "/Admin/Employee";
    })
</script>

