@using OrderFoodLast.Areas.Admin.Models
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IEnumerable<EmployeeView>
<div class="row">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb d-flex justify-content-end">
                <li class="breadcrumb-item active">
                    <div class="btn-group" role="group">
                        <input type="text">
                        <button type="button" class="btn btn-outline-danger">Tìm kiếm</button>
                    </div>
                </li>
                <li class="breadcrumb-item active">
                    <div class="btn-group" role="group">
                        <a id="addEmp" class="btn btn-outline-success"><i class="fas fa-plus"></i> Thêm mới</a>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr style="white-space:nowrap">
            <th scope="col">#</th>
            <th scope="col">Mã nhân viên</th>
            <th scope="col">Tên nhân viên</th>
            <th scope="col">Email</th>
            <th scope="col">Điện thoại</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @{
            int cnt = 1;
        }
        @foreach (var item in ViewBag.employeeViews)
        {
            <tr>
                <th scope="row">@cnt</th>
                <td>@item.EmployeeId</td>
                <td>@item.FirstName @item.LastName</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.Address</td>
                <td>
                    <div class="btn-group">
                        <a href="/Admin/employee/@item.EmployeeId" class="btn btn-secondary"><i class="fas fa-info-circle"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-secondary deleteEmp"><i class="fas fa-trash"></i></a>
                        <a data-id="@item.EmployeeId" class="btn btn-secondary updateEmp"><i class="fas fa-edit"></i></a>
                    </div>
                </td>
            </tr>
            cnt++;
        }


    </tbody>
</table>

<!--pagination -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        @Html.PagedListPager((IPagedList)ViewBag.employeeViews, page => Url.Action("Index", new { page = page }))
    </ul>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    $('ul.pagination > li').addClass('page-item');
    $('ul.pagination > li > span').addClass('page-link');
    $('ul.pagination > li.active').addClass('active');
    $('ul.pagination > li > a').addClass('page-link');
</script>

<script>
    $("#addEmp").click(function () {
        $.ajax({
            url: "/Admin/Employee/Create",
            type: "GET",
            success: function (response) {
                $(".container .container").html("");
                $(".container .container").html(response);
            },
            error: function (response) {
                alert("Bạn không được quyền tạo tài khoản");
            }
        });
    });

    $(".updateEmp").click(function () {
        var id = $(this).data("id");
        $.ajax({
            url: "/Admin/Employee/Edit",
            type: "GET",
            data: { id: id},
            success: function (response) {
                $(".container .container").html("");
                $(".container .container").html(response);
            },
            error: function (response) {
                alert("Bạn không được quyền chỉnh sửa tài khoản người này");
            }
        });
    });

</script>