@{
    Layout = null;
}
@using Microsoft.AspNetCore.Http;
@using OrderFoodLast.Helper
@model IEnumerable<object>
@{
    Employee emp = Model.ToList()[0] as Employee;
    IEnumerable<Employee> managers = Model.ToList()[1] as List<Employee>;
}
<div style="text-align:right">
    <button class="btn btn-success" id="btnBack"><i class="fas fa-chevron-left"></i>&nbsp Trở về</button>
</div>
<br />
<div class="row">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    <h2>Thông tin nhân viên</h2>
                </li>
            </ol>
        </nav>
    </div>
</div>            <!-- content -->
<div class="container">
    <form asp-action="Edit" asp-route-id="@emp.EmployeeId" method="post">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <input type="text" name="EmployeeId" value="@emp.EmployeeId" hidden />
                    <label>Họ</label>
                    <input type="text" class="form-control" placeholder="Nhập họ" name="firstName" value="@emp.FirstName" />
                </div>
                <div class="form-group">
                    <label>Tên</label>
                    <input type="text" class="form-control" placeholder="Nhập tên" name="lastName" value="@emp.LastName" />
                </div>
                <div class="form-group">
                    <label>Tên đăng nhập</label>
                    <input type="text" class="form-control" placeholder="Nhập tên đăng nhập" name="userName" value="@emp.UserName" />
                </div>
                <div class="form-group">
                    <label>Mật Khẩu</label>
                    <input type="password" class="form-control" placeholder="Nhập mật khẩu" name="password" value="@emp.Password" />
                </div>
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input type="text" class="form-control" placeholder="Nhập địa chỉ" name="address" value="@emp.Address" />
                </div>

            </div>

            <div class="col-6">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" placeholder="Nhập email" name="email" value="@emp.Email" />
                </div>
                <div class="form-group">
                    <label>Điện thoại</label>
                    <input type="text" class="form-control" placeholder="Nhập số điện thoại" name="phone" value="@emp.Phone" />
                </div>
                <div class="form-group">
                    <label>Ngày sinh</label>
                    <input type="date" class="form-control" placeholder="Nhập ngày sinh" name="birthday" value="@emp.BirthDate?.ToString("yyyy-MM-dd")" />
                </div>
                <div class="form-group">
                    <label>Vai trò</label>
                    <select class="form-control" id="idRole" name="role">
                        @{
                            LoginInfo info = Context.Session.GetObject<LoginInfo>("Info");
                        }
                        @if (info.role == 1)
                        {

                            if (emp.Role == 1)
                            {
                                <option selected value="1">Super Admin</option>
                            }
                            else
                            {
                                <option value="1">Super Admin</option>
                            }

                            if (emp.Role == 2)
                            {
                                <option selected value="2">Admin</option>
                            }
                            else
                            {
                                <option value="2">Admin</option>
                            }

                            if (emp.Role == 3)
                            {
                                <option selected value="3">Nhân Viên</option>
                            }
                            else
                            {
                                <option value="3">Nhân Viên</option>
                            }
                        }
                        else if (info.role == 2)
                        {

                            if (emp.Role == 2)
                            {
                                <option selected value="2">Admin</option>
                            }
                            else
                            {
                                <option value="2">Admin</option>
                            }

                            if (emp.Role == 3)
                            {
                                <option selected value="3">Nhân Viên</option>
                            }
                            else
                            {
                                <option value="3">Nhân Viên</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Người quản lý</label>
                    <select class="form-control" id="ManagerId" name="managerId">

                        @if (managers != null)
                        {
                            foreach (var manager in managers)
                            {
                                if (manager.EmployeeId == emp.ManagerId)
                                {
                                    <option selected value="@manager.EmployeeId">@manager.FirstName @manager.LastName</option>
                                }
                                else
                                {
                                    <option selected value="@manager.EmployeeId">@manager.FirstName @manager.LastName</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Trạng thái</label>
                    <select class="form-control" name="status">
                        @if (emp.Status == 1)
                        {
                            <option selected value="1">Enable</option>
                            <option value="0">Disable</option>
                        }
                        else if (emp.Status == 2)
                        {
                            <option value="1">Enable</option>
                            <option value="0">Disable</option>
                        }

                    </select>
                </div>
            </div>

            <br>
            <div class="container mt-2 mb-4">
                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Lưu thông tin</button>
            </div>
        </div>
    </form>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>

    $(function () {
        $("#idRole").change(function () {
            $.ajax({
                url: "/Admin/Employee/GetManagerPeople",
                type: "GET",
                data: {
                    idRole: $(this).val()
                },
                success: function (data) {
                    $("#ManagerId").html("");
                    (data.value).forEach((e) => {
                        $("#ManagerId").append(`<option value="${e.id}">${e.name}</option>`);
                    });
                }
            });
        });
    });
    $("#btnBack").click(function () {
        window.location = "/Admin/Employee";
    })
</script>