@using OrderFoodLast.Areas.Admin.Models
@using OrderFoodLast.Models
@{
    AllInfoOrderDetail o = Model;
}
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Thông tin</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Xác nhận</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">In và đóng gói</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <!-- thong tin -->
    @{
        int num = 1;
    }
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <h1 class="m-3">Thông tin hóa đơn</h1>

        @foreach (OrderDetail p in o.details)
        {
            @if (num % 4 == 1)
            {
                @:<div class="row" style="margin:10px">
                }
            <div class="col-3 col">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/@p.Product.ProductImage" style="width:160px;height:160px" class="card-img-top" alt="food">
                    <div class="card-body">
                        <h5 class="card-title">DH: @p.OrderId</h5>
                        <p class="card-text">@p.Product.ProductName.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Giá: @p.Product.PromotionPrice vnd</li>
                    </ul>
                    @{
                        ++num;
                        if (num % 4 == 1)
                        {
                        @:</div>
                    }
                    }
                </div>
            </div>


        }

    </div>
</div>
<!-- end thong tin -->
<!-- xac nhan -->
<div class="tab-pane fade ml-3 mb-3 mr-3" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

    <nav class="mt-3">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-hvc" role="tab" aria-controls="nav-home" aria-selected="true">Dùng hãng vận chuyển</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-tvc" role="tab" aria-controls="nav-profile" aria-selected="false">Tự vận chuyển</a>

        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <!-- dung hang van chuyen -->
        <div class="tab-pane fade show active" id="nav-hvc" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="col-6 mt-3">
                            <div class="form-group">
                                <h4 class="text-danger">Đơn hàng <i class="fas fa-arrow-down"></i></h4>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Cửa hàng</label>
                                <div class="col-sm-8">
                                    <select class="form-control">
                                        <option>Kho Ultimate</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Nguồn đơn hàng</label>
                                <div class="col-sm-8">
                                    <select class="form-control">
                                        <option>Nguồn</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Ghi chú của CSKH</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" cols="5" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Nhân viên bán hàng</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Trạng thái</label>
                                <div class="col-sm-8">
                                    <select class="form-control">


                                        @if (o.status == 1)
                                        {
                                            <option selected>Pending</option>
                                            <option>Processing</option>
                                            <option>Rejected</option>
                                            <option>Completed</option>
                                        }

                                        @if (o.status == 2)
                                        {
                                            <option>Pending</option>
                                            <option selected>Processing</option>
                                            <option>Rejected</option>
                                            <option>Completed</option>
                                        }
                                        @if (o.status == 3)
                                        {
                                            <option>Pending</option>
                                            <option>Processing</option>
                                            <option selected>Rejected</option>
                                            <option>Completed</option>
                                        }
                                        @if (o.status == 4)
                                        {
                                            <option>Pending</option>
                                            <option>Processing</option>
                                            <option>Rejected</option>
                                            <option selected>Completed</option>
                                        }

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mt-3">
                            <div class="form-group">
                                <h4 class="text-danger">Khách hàng <i class="fas fa-arrow-down"></i></h4>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Họ và tên</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@o.cusName">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Điện thoại</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@o.cusPhone">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Địa chỉ</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@o.cusAddress">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Ghi chú của Khách</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" cols="5" rows="3">@o.comment</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-danger">Sản phẩm</label>
                        <div class="col-sm-9">
                            <input type="text" placeholder="Nhập thông tin sản phẩm và click chọn từ danh sách gợi ý" readonly class="form-control">
                        </div>
                    </div>
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">SP</th>
                                <th scope="col">SL</th>
                                <th scope="col">Giá</th>
                                <th scope="col">T.tiền</th>
                                <th scope="col">-</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (OrderDetail p in o.details)
                            {
                                int? total = p.Product.PromotionPrice * p.Quantity;
                                <tr>
                                    <th>@p.Product.ProductName</th>
                                    <td>
                                        <input type="text" class="form-control" value="@p.Quantity">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" value="@p.Product.PromotionPrice">
                                    </td>
                                    <td>@total</td>
                                    <td>
                                        <a href=""><i class="fas fa-times-circle"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-4 mt-3">
                    <div class="form-group">
                        <h4 class="text-danger">Thanh toán <i class="fas fa-arrow-down"></i></h4>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Chiết chấu</label>
                        <div class="col-sm-8">
                            <select class="form-control">
                                <option>Tiền mặt</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Đặt cọc</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Tài khoản tiền mặt</label>
                        <div class="col-sm-8">
                            <select class="form-control">
                                <option>Tài khoản tiền mặt</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Chuyển khoản</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Sau khi lưu dữ liệu</label>
                        <div class="col-sm-8 form-group">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input">
                                <label class="form-check-label">Tiếp tục thêm dữ liệu</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input">
                                <label class="form-check-label">Về danh sách đơn hàng</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <button type="button" class="btn btn-secondary mr-1"><i class="fas fa-save"></i> Lưu</button>
                        <button type="button" class="btn btn-secondary"><i class="fas fa-print"></i> Lưu và in</button>
                    </div>
                </div>
            </div>

        </div>
        <!-- end dung hang van chuyen -->
        <!-- tu van chuyen -->
        <div class="tab-pane fade" id="nav-tvc" role="tabpanel" aria-labelledby="nav-profile-tab">

            <h3 class="text-danger">Chưa khả dụng</h3>

        </div>
        <!-- end tu van chuyen -->
    </div>

</div>
<!-- end xac nhan -->
<!-- dong goi -->
<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
<!-- end dong goi -->
</div>