@using OrderFoodLast.Areas.Admin.Models
@model IEnumerable<OrderView>
@{
    List<OrderView> list = new List<OrderView>(Model);
}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Mã đơn hàng</th>
            <th scope="col">Người đặt</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Ngày đặt</th>
            <th scope="col">Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0, x = 1; i < list.Count; ++i, ++x)
        {
            <tr>
                <th scope="row">@x</th>
                <td>@list[i].Id</td>
                <td>@list[i].FullName</td>
                <td>@list[i].Total VNĐ</td>
                <td>@list[i].ShipDate</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary"><i class="fas fa-check-circle"></i></button>
                        <button type="button" class="btn btn-secondary"><i class="fas fa-trash"></i></button>
                        <a href="/Admin/Order/@list[i].Id" class="btn btn-secondary"><i class="fas fa-edit"></i></a>
                    </div>
                </td>
            </tr>
        }


    </tbody>
</table>