@model OrderFoodLast.Models.Product
<div style="padding: 0 15px 0 15px">
    <div class="row">
        <div class="col-5">
            <img src="~/img/@Model.ProductImage" style="height:225px;width:225px; margin:0 0 0 10px; border:1px solid gray; border-radius:10px;" alt="@Model.ProductImage" />
            <span asp-validation-for="ProductImage" class="text-danger"></span>
        </div>
        <div class="col-7">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label"><b>Tên Sản Phẩm: </b></label>
                <div class="col-sm-4">
                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.ProductName">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label"><b>Loại Sản Phẩm: </b></label>
                <div class="col-sm-6">
                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.Category.Name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label"><b>Ngày Sửa: </b></label>
                <div class="col-sm-6">
                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.ModifiedDate">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-7 col-form-label"><b>Bao gồm VAT: </b></label>
                <div class="col-sm-5">
                    @{
                        var vat = Model.IncludeVat == true ? "True" : "False";
                    }
                    <input type="text" readonly="" class="form-control-plaintext" value="@vat">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-7 col-form-label"><b>Tình Trạng: </b></label>
                <div class="col-sm-5">
                    @{
                        var status = Model.Status == 1 ? "Active" : "No Active";
                    }
                    <input type="text" readonly="" class="form-control-plaintext" value="@status">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group row">
                <label class="col-sm-7 col-form-label"><b>Giá Sản Phẩm: </b></label>
                <div class="col-sm-5">
                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.Price VNĐ">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-7 col-form-label"><b>Giá Giảm: </b></label>
                <div class="col-sm-5">
                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.PromotionPrice VNĐ">
                </div>
            </div>
            
        </div>
        <div class="col-6">
            <div class="form-group row">
                <label class="col-sm-7 col-form-label"><b>Số Lượng: </b></label>
                <div class="col-sm-5">
                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.Quantity">
                </div>
            </div>
           
            <div class="form-group row">
                <label class="col-sm-7 col-form-label"><b>Lượt Xem: </b></label>
                <div class="col-sm-5">
                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.ViewCounts">
                </div>
            </div>
        </div>
    </div>
    <div>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    </div>
</div>
