@model IEnumerable<object>
@{
    Product product = Model.ToList()[0] as Product;
    ProductCategory productCategory = Model.ToList()[1] as ProductCategory;
    Employee employee = Model.ToList()[2] as Employee;
    IEnumerable<ProductCategory> categories = Model.ToList()[3] as List<ProductCategory>;
    string employeeModified =  Model.ToList()[4] as string;
}

<div class="row">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    <h2>Chi tiết sản phẩm</h2>
                </li>
            </ol>
        </nav>
    </div>
</div>

<!-- content -->
<div class="container">
    <form enctype="multipart/form-data" asp-action="Update">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Tên sản phẩm</label>
                    <input type="text" name="productName" class="form-control" value="@product.ProductName">
                </div>
                <div class="form-group">
                    <label>Danh mục</label>
                    <select class="form-control" name="categoryID">
                        @foreach (var item in categories)
                        {
                            if (item.CategoryId == productCategory.CategoryId)
                            {
                                <option value="@item.CategoryId" selected>@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.CategoryId">@item.Name</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label>Số lượng</label>
                    <input type="text" value="@product.Quantity" name="quantity" class="form-control" placeholder="0"/>
                </div>
                <div class="form-group">
                    <label>Giá</label>
                    <input type="text" value="@product.Price" class="form-control" name="price" placeholder="0">
                </div>
                <div class="form-group">
                    <label>Mô tả</label>
                    <textarea class="form-control" rows="3" name="description">@product.Description</textarea>
                </div>
            </div>

            <div class="col-6">

                <div class="form-group">
                    <label>Ngày nhập</label>
                    <input type="text" disabled value="@product.CreatedDate" name="createDate" class="form-control">
                </div>
                <div class="form-group">
                    <label>Người nhập</label>
                    <input type="text" disabled value="@product.CreatedBy" name="createBy" class="form-control">
                </div>
                <div class="form-group">
                    <label>Lần sửa cuối cùng bởi</label>
                    <input type="text" disabled value="@employeeModified" name="ModifiedBy" class="form-control">
                </div>
                <div class="form-group">
                    <label>Ngày sửa</label>
                    <input type="text" disabled value="@product.ModifiedDate" name="ModifiedDate" class="form-control">
                </div>
                <div class="form-group">
                    <label>Trạng thái</label>
                    <select class="form-control" name="status">
                        <option value="1">Enable</option>
                        <option value="0">Disable</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Hình ảnh</label>
                    <input class="form-control" name="image" type="file" id="imgInp" />
                    <img id="blah" src="~/img/@product.ProductImage" class="image-thumbnail mt-2" />
                </div>
            </div>

            <br>
            <div class="container mt-2 mb-4">
                <button class="btn btn-success saveChange" data-id="@product.ProductId"><i class="fas fa-save"></i> Save</button>
            </div>
        </div>
    </form>

</div>
