@model IEnumerable<ProductCategory>
<table class="table table-responsive">
    <thead class="thead-light">
        <tr>
            <th scope="col" width="5%">#</th>
            <th scope="col" width="20%">Tên</th>
            <th scope="col" width="15%">Hình ảnh</th>
            <th scope="col" width="10%">Giá</th>
            <th scope="col" width="10%">Số lượng</th>
            <th scope="col" width="10%">Phân Loại</th>
            <th scope="col" width="10%">Trạng thái</th>
            <th scope="col" width="15%">Chức năng</th>
        </tr>
    </thead>
    <tbody id="contentTable">
        @foreach (var p in ViewBag.productsView)
        {
            var price = String.Format("{0:0,0 VNĐ}", p.Price);
            <tr>
                <th scope="row">@p.ProductId</th>
                <td><a class="view-product" data-toggle="modal" data-target=".bd-example-modal-xl">@p.ProductName</a></td>
                <td>
                    <img src="~/img/@p.ProductImage" alt="@p.ProductImage" style="width:90px; height:80px;" class="img-thumbnail">
                </td>
                <td>@price</td>
                <td>@p.Quantity</td>
                <td>@p.Category</td>
                <td>@p.Status</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary sua-loai" data-maloai="@p.ProductId" data-target="#myModal"><i class="fas fa-eye"></i></button>
                        <a asp-action="Update" asp-route-id="@p.ProductId" class="btn btn-secondary"><i class="fas fa-edit"></i></a>
                        <button type="button" class="btn btn-secondary"><i class="fas fa-trash"></i></button>
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>
<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <a class="page-link btnPrevious" href="" >Previous</a>
            </li>
            <li class="page-item">
                <select id="inputPagination" class="page-link" height="20px" ; style="height:38px">
                    @for (int i = 1; i <= ViewBag.TongSoTrang; ++i)
                    {
                        var valOption = i - 1;
                        if (valOption == ViewBag.SelectedPage)
                        {
                            <option selected value="@valOption">@i</option>
                        }
                        else
                        {

                            <option value="@valOption">@i</option>
                        }

                    }
                </select>
            </li>
           
            <li class="page-item">
                <a class="page-link btnNext" href="">Next</a>
            </li>
        </ul>
    </nav>
</div>
<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thông tin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="~/js/Admin/Product.js"></script>


