@model IEnumerable<ProductViewAdmin>
<div class="row">
    <table class="table table-responsive">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Giá</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Phân Loại</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <th scope="row">@p.ProductId</th>
                    <td><a class="view-product" data-toggle="modal" data-target=".bd-example-modal-xl">@p.ProductName</a></td>
                    <td>
                        <img src="~/img/@p.ProductImage" alt="@p.ProductImage" width="200px" class="img-thumbnail product-img">
                    </td>
                    <td>@p.Price VND</td>
                    <td>@p.Quantity</td>
                    <td>@p.Category</td>
                    <td>@p.Status</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary"><i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-secondary"><i class="fas fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <!-- pagination -->
    <div class="container d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- end pagination -->

</div>
